<!-- views/partials/footer.ejs-->


<footer class="border-top text-center small text-muted py-3">
    <p class="m-0">Copyright © 2021 <a href="/" class="text-muted">OurApp</a>. All rights reserved.</p>
  </footer>