<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Our Social Media</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/main.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <%- include('./partials/header') %>
    
    
    <div class="container py-md-5 container--narrow">

        <div class="container py-md-5 container--narrow">

            <div class="d-flex justify-content-between">
              <h2>HEllo everybody</h2>
              
                <span class="pt-2">
                    
                    <i class="fa fa-edit"></i>
                   <i class="fa  fa-trash"></i>
                </span>
            
            </div>
              
            <p class="text-muted small mb-4">
              <a href="/profile/test1234"><img class="avatar-tiny" src="https://gravatar.com/avatar/9a93efa79aa9f5d35e14bc55a3e16dc4?s=128"></a>
              Posted by <a href="/profile/test1234">test1234</a> on 5/31/2021</p>
        
        
            <div class="body-content">
                <p>This is the next post</p>
        
            </div>
        
          </div>
    </div>
     
     <%- include('./partials/footer') %>
</body>

 </html>   